[project]
	description = Google Drive Realtime API Playground helps you to try out the features of the Realtime API
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tintohill (tintohill)
[access "refs/for/refs/*"]
	read = group user/tintohill (tintohill)
	push = group user/tintohill (tintohill)
	label-Code-Review = -2..+2 group user/tintohill (tintohill)
	label-Verified = -1..+1 group user/tintohill (tintohill)
	rebase = group user/tintohill (tintohill)
	removeReviewer = group user/tintohill (tintohill)
	submit = group user/tintohill (tintohill)
[access "refs/heads/*"]
	read = group user/tintohill (tintohill)
	create = group user/tintohill (tintohill)
	push = +force group user/tintohill (tintohill)
	pushMerge = group user/tintohill (tintohill)
[access "refs/tags/*"]
	push = +force group user/tintohill (tintohill)
	pushTag = group user/tintohill (tintohill)
	pushSignedTag = group user/tintohill (tintohill)
